In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [4]:
data = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv"
!wget $data -O scores.csv

--2025-10-15 20:32:42--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8002::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: 'scores.csv'

     0K .......... .......... .......... .......... .......... 63%  396K 0s
    50K .......... .......... ........                        100%  867K=0.2s

2025-10-15 20:32:43 (495 KB/s) - 'scores.csv' saved [80876/80876]

In [7]:
# importing and viewing dataset
df = pd.read_csv("scores.csv")
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_source               1334 non-null   object
 1   industry                  1328 non-null   object
 2   number_of_courses_viewed  1462 non-null   int64
 3   annual_income             1281 non-null   float64
 4   employment_status         1362 non-null   object
 5   location                  1399 non-null   object
 6   interaction_count         1462 non-null   int64
 7   lead_score                1462 non-null   float64
 8   converted                 1462 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 102.9+ KB

In [9]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [32]:
numerical = (['annual_income','lead_score'])
categorical_columns = (['lead_source', 'industry', 'number_of_courses_viewed',
       'employment_status', 'location', 'interaction_count',
       'converted'])

In [33]:
df[numerical] = df[numerical].fillna(0.0)
df[categorical_columns] = df[categorical_columns].fillna('NA')

In [34]:
columns = df.columns
for col in columns:
    print(df[col].value_counts())
    print("Sum of null ",df[col].isnull().sum())
    print()

lead_source
organic_search    282
social_media      278
paid_ads          264
referral          260
events            250
NA                128
Name: count, dtype: int64
Sum of null  0

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NA               134
Name: count, dtype: int64
Sum of null  0

number_of_courses_viewed
1    417
2    388
3    269
0    181
4    109
5     67
6     22
7      6
8      2
9      1
Name: count, dtype: int64
Sum of null  0

annual_income
0.0        181
58949.0      2
63133.0      2
62478.0      2
45569.0      2
          ...
69519.0      1
67832.0      1
63977.0      1
62536.0      1
92855.0      1
Name: count, Length: 1268, dtype: int64
Sum of null  0

employment_status
self_employed    352
student          348
unemployed       334
employed         328
NA               100
Name: count, dtype: int64
Sum of null  0

location
north_america    225
europe           216
middle_east      198
asia             195
south_america    192
africa           188
australia        185
NA                63
Name: count, dtype: int64
Sum of null  0

interaction_count
3     343
2     320
4     273
1     209
5     137
0      75
6      59
7      33
8       8
9       3
10      1
11      1
Name: count, dtype: int64
Sum of null  0

lead_score
0.60    24
0.82    22
0.02    21
0.20    21
0.41    21
        ..
0.19     9
0.23     8
0.12     7
0.77     7
1.00     5
Name: count, Length: 101, dtype: int64
Sum of null  0

converted
1    905
0    557
Name: count, dtype: int64
Sum of null  0

In [35]:
df.converted.value_counts()

converted
1    905
0    557
Name: count, dtype: int64

### Setting up the validation framework

In [36]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [37]:
len(df_train), len(df_val), len(df_test)

(876, 293, 293)