In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-07 19:58:17--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: 'car_fuel_efficiency.csv'

     0K .......... .......... .......... .......... ..........  5%  145K 6s
    50K .......... .......... .......... .......... .......... 11%  256K 4s
   100K .......... .......... .......... .......... .......... 17% 71.5K 6s
   150K .......... .......... .......... .......... .......... 23%  126K 5s
   200K .......... .......... .......... .......... .......... 29% 86.0K 5s
   250K .......... .......... .......... .......... .......... 35% 55.2K 6s
   300K .......... .......... .......... .......... .......... 40% 54.7K 6s
   350K .......... .......... .......... .......... .......... 46% 18.2K 8s
   400K .......... .......... .......... .......... .......... 52% 13.2K 9s
   450K .......... .......... .......... .......... .......... 58% 32.6K 9s
   500K .......... .......... .......... .......... .......... 64% 22.5K 8s
   550K .......... .......... .......... .......... .......... 70% 36.4K 7s
   600K .......... .......... .......... .......... .......... 76% 48.7K 5s
   650K .......... .......... .......... .......... .......... 81% 55.4K 4s
   700K .......... .......... .......... .......... .......... 87% 53.5K 3s
   750K .......... .......... .......... .......... .......... 93% 40.6K 1s
   800K .......... .......... .......... .......... .......... 99% 49.5K 0s
   850K ...                                                   100% 70.6G=21s

2025-10-07 19:58:39 (41.0 KB/s) - 'car_fuel_efficiency.csv' saved [874188/874188]

In [3]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [4]:
df.head(3)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
df['horsepower'].median()

np.float64(149.0)